*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}



/* HEADER */

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#0a192f;
color:white;

}



nav ul{

display:flex;
gap:25px;
list-style:none;
align-items:center;

}



nav a{

text-decoration:none;
color:white;
font-weight:bold;

}



.signup{

background:#00b894;
border:none;
padding:8px 15px;
color:white;
cursor:pointer;
border-radius:5px;

}



.login{

background:#0984e3;
border:none;
padding:8px 15px;
color:white;
cursor:pointer;
border-radius:5px;

}



/* HERO */

.hero{

height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:#111;
color:white;

}



.hero h1{

font-size:50px;
margin-bottom:20px;

}



.hero p{

font-size:20px;
margin-bottom:20px;

}



.enrollBtn{

padding:15px 30px;
font-size:18px;
background:#00b894;
border:none;
color:white;
border-radius:5px;
cursor:pointer;

}



/* COURSES */

#courses{

padding:80px;
text-align:center;

}



.course-container{

display:flex;
justify-content:center;
gap:30px;
margin-top:30px;

}



.course-card{

background:#f4f4f4;
padding:30px;
width:250px;
border-radius:10px;

}



/* ABOUT */

#about{

padding:60px;
text-align:center;
background:#eef2f7;

}



/* CONTACT */

#contact{

padding:80px;
text-align:center;

}



form{

max-width:400px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;

}



input, textarea, select{

padding:10px;
border:1px solid #ccc;
border-radius:5px;

}



form button{

padding:10px;
background:#0984e3;
color:white;
border:none;
border-radius:5px;
cursor:pointer;

}



/* ENROLL PAGE */

.enroll-section{

padding:80px;
text-align:center;

}



#enrollForm{

max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
text-align:left;

}



#enrollForm button{

background:#00b894;
padding:12px;
border:none;
color:white;
font-size:16px;
border-radius:5px;
cursor:pointer;

}



/* FOOTER */

footer{

background:#0a192f;
color:white;
text-align:center;
padding:20px;
margin-top:40px;

}
